@page "/"

<PageTitle>Inicio</PageTitle>

<div style="max-width: 800px; margin: auto; padding: 20px; text-align: center;">

    <h1 style="font-size: 2.5rem; color: #333;">Inicio</h1>

    <h3 style="font-size: 1.75rem; color: #555;">Bienvenido/a, esta es mi primera vez utilizando Blazor Web!</h3>

    <p style="font-size: 1.2rem; line-height: 1.6; color: #666;">
        En este proyecto pueden ir navegando por la barra lateral.
    </p>

    <p style="font-size: 1.2rem; line-height: 1.6; color: #666;">
        La barra lateral contiene diferentes secciones como Inicio, Aprender más, Calculadora, entre otros...
    </p>

    <img class="img-fluid"
         src="https://th.bing.com/th/id/OIP.hWS9SLKwQGxbXqU4_r2-4QHaDt?rs=1&pid=ImgDetMain"
         style="max-width: 100%; height: auto; margin-top: 20px; border-radius: 10px;"
         alt="Desarrollo de software" />

    <h3 style="font-size: 2rem; color: #333; margin-top: 30px;">Frase motivadora</h3>
    <p style="font-size: 1.5rem; color: #007bff;">
        "La programación es el arte de resolver problemas con creatividad y precisión."
    </p>
</div>
